<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="Jelle Hermsen is een freelance medisch programmeur met meer dan 15 jaar ervaring.">
    <link href="{base_url}assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{base_url}assets/js/jquery.scrollTo.js"></script>
    <script src="{base_url}assets/js/main.js"></script>
    <title>Jelle Hermsen | Freelance Medisch Programmeur</title>
</script>
</head>
<body class="{page_type}">
<div class="container">
    <header>
        <a href="tel:+31628488693" class="phone">06 28 48 86 93</a>
        <br class="clearfix"/>
        <div class="logo">
            <a href="{base_url}">
                <span class="big">Jelle Hermsen</span> 
                <span class="small">medisch programmeur</span>
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="{base_url}">Home</a></li>
                <li><a href="{base_url}pages/over_jelle.html">Over Jelle</a></li>
                <li><a href="{base_url}pages/contact.html">Contact</a></li>
            </ul>
        </nav>
        <br class="clearfix"/>
        <div class="banner">

        </div>
    </header>

    <main>
