
.icon-linkedin-squared:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-github-squared:before { content: '\e802'; } /* '' */
.icon-mail-squared:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */